.etiquetas {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    height: 80%;
}

.boton-aceptar {
    background-color: aqua;
    display: flex;
    justify-content: flex-end; 
    margin: 10px;
    margin-left: auto;
    width: 20%;
    height: 100%;
}

.sala {
    height: 20%;
    background-color: rgb(76, 71, 71);
    margin: 20px;
}

.jimcana {
    background-color: rgb(255, 255, 255); 
    padding: 10px;
    height: 20%;
}

.jimcana-button {
    background: linear-gradient(180deg, rgba(69,196,176,1) 0%, rgba(19,103,138,1) 100%); /* https://cssgradient.io/ */
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    padding: 10px;
    margin-bottom: 10px;
}

.jimcana-button2 {
    background: linear-gradient(180deg, rgba(69,196,176,1) 0%, rgba(19,103,138,1) 100%); /* https://cssgradient.io/ */
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    padding: 10px;
}

.jimcana-button:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.jimcana-button2:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 800px) {
    .jimcana-button {
        padding: 15px 25px; /* Ajustar el padding para dispositivos más pequeños */
    }

    .column-2 {
        width: 40%;
        height: 92vh;
    }

    .column-3 {
        width: 60%;
        padding: 10px;
    }
}
